.overlay-div {
  /* height:100%;
    width: 100%;
    position:absolute; */
  background-color: #000;
  opacity: 0.9;
}

.background-dark {
  background-color: #0f1b31;
}

.border-color {
  border: 15px solid #ea863c;
}

.text-color {
  font-style: bold;
  color: #b19083;
}

.card-backGround {
  background-color: #222022;
}

.circle-div {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  border: 15px solid #ea863c;
  margin-right: 20px;
}

.div {
  height: 0px;
  width: 200px;
}

.div-p {
  height: 0px;
  width: 600px;
}

.container {
  height: 200px;
  background-color: #ea863c;
  margin-bottom: 10px;
}

.flex-div {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.padding-div {
  padding: 20px;
  height: 150px;
  text-align: center;
  width: 150px;
  border-radius: 50%;
  margin: 25px;
  border: 5px solid #222022;
}
